Checks: >
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  performance-*,
  portability-*,
  -portability-avoid-pragma-once,
  readability-*,
  -readability-identifier-length,
  -readability-magic-numbers,
  modernize-*

WarningsAsErrors: ''
HeaderFilterRegex: 'include/.*'